<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Payments</h4>
                </div>
                <div class="card-body">
                    <p>Payments page is working!</p>
                    <p>Total payments: <%= payments ? payments.length : 0 %></p>
                </div>
            </div>
        </div>
    </div>
</div>
